@import '../../styles/variables';
@import '../../styles/mixin';

.cover {
  @include flex(center, center);

  :global {
    .letters {
      font-size: 10rem;
      letter-spacing: 1.2rem;
      transform: translate(-30%, -50%);
      top: 50%;
      left: 30%;
      user-select: none;
    }
  }
}