@import '../../styles/variables';
@import '../../styles/mixin';

.ring {
  @include size(300px, 300px);
  @include center(both);
  position: fixed;
  top: 50vh;
  background-position: 50% 50%;
  background-image: url(../../static/ring.svg);
  z-index: 100;

  &:global {
    &.one {
      :local {
        animation: rotateRing 2s linear infinite;
      }
    }
  
    &.two {
      :local {
        animation: rotateRing 8s linear infinite;
      }
    }
  }

  @keyframes rotateRing {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}