@import '../../../styles/variables';
@import '../../../styles/mixin';

.phone {
  @include flex(center, center);
  max-height: 100%;

  >video,
  >img {
    width: 87%;
  }

  .frame {
    left: 0;
    position: absolute;

    img {
      width: 100%;
    }
  }
}