/* ----------------------------------------
  Color
---------------------------------------- */

$colorWhite: #ffffff;
$colorBlack: #000000;

$gray1: #F2F2F2;
$gray2: #DFDFDF;
$gray3: #CCCCCC;
$gray4: #A6A6A6;
$gray5: #808080;
$gray6: #737373;
$gray7: #4D4D4D;
$gray8: #3A3A3A;
$gray9: #262626;

/* ----------------------------------------
  Hover
---------------------------------------- */

$defaultHoverOpacity: .8;

/* ----------------------------------------
  Transition
---------------------------------------- */

$defaultTransition: all 1s;

/* ----------------------------------------
  Border
---------------------------------------- */

$defaultBorderRadius: 3px;
$defaultBorderColor: $gray2;

/* ----------------------------------------
  Breakpoints
---------------------------------------- */

$breakpointPhoneSmall:  320px;
$breakpointPhone:       400px;
$breakpointPhoneWide:   480px;
$breakpointPhablet:     560px;
$breakpointTabletSmall: 640px;
$breakpointTablet:      790px;
$breakpointTabletWide:  1060px;
$breakpointDesktop:     1260px;
$breakpointDesktopWide: 1460px;

/* ----------------------------------------
  Theme Setting
---------------------------------------- */
