@import '../../styles/variables';
@import '../../styles/mixin';

.cursor {
  position: fixed;
  background: #808080;
  width: 8px;
  height: 8px;
  top: -8px;
  left: -8px;
  border-radius: 100%;
  z-index: 999;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  opacity: 0.8;
}

.follower {
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  top: -25px;
  left: -25px;
  border-radius: 100%;
  z-index: 999;
  user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
}