html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Rufina, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff0df;
  font-size: 62.5%;
  color: #444444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}