@import '../../styles/variables';
@import '../../styles/mixin';

.slider {
  z-index: 101;
  padding: 10vh 0;
  position: relative;
}

.proxy {
  @include size(100%, 100%);
  top: 0;
  left: 0;
  position: absolute;
}

.sliderInner {
  white-space: nowrap;
}

.slide {
  display: inline-block;
  padding: 0 10vw;
  position: relative;

  @include breakpoint(desktop) {
    padding: 0 5vw;
  }

  .image {
    width: 80vw;
    position: relative;

    img {
      @include flex(center, center);
      border-radius: 0;
    }

    // @include breakpoint(desktop) {
    //   width: 20vw;
    // }

    &.app {
      width: 30vw;

      @include breakpoint(desktop) {
        width: 20vw;
      }

      img {
        border-radius: 40px;
      }
    }
  }
}